@font-face {
    font-family: 'mono';
    src: url("/fonts/jbmm.woff2");
}

@font-face {
    font-family: harmony;
    src: url("/fonts/hmr.ttf") format('typetrue');
}
code {
      font-family: 'mono' !important;
}

body{
    font-family: 'harmony' !important;
}


