@font-face {
    font-family: 'mono';
    src: url("/fonts/jbmm.woff2");
}

@font-face {
    font-family: harmony;
    src: url("/fonts/hmr.ttf");
}

body:not(code){
    font-family: 'harmony' !important;
}

code {
      font-family: 'mono' !important;
  }

